/* Base */
@import url("./base/variables.css");
@import url("./base/reset.css");
@import url("./base/forms.css");

/* Layout */
@import url("./layout/sidebar.css");
@import url("./layout/topbar.css");
@import url("./layout/content.css");

/* Components */
@import url("./components/breadcrumb.css");
@import url("./components/buttons.css");
@import url("./components/cards.css");
@import url("./components/fileList.css");
@import url("./components/contextMenu.css");
@import url("./components/dialogs.css");
@import url("./components/modals.css");
@import url("./components/shareDialog.css");
@import url("./components/uploadDropdown.css");
@import url("./components/notifications.css");
@import url("./components/userMenu.css");
@import url("./components/languageSelector.css");
@import url("./components/multiSelect.css");
@import url("./components/spinner.css");
@import url("./components/search.css");

/* Theme */
@import url("./themes/dark.css");
