* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	display: flex;
	height: 100vh;
	background-color: #f5f7fa;
	overflow: hidden;
}

html[dir='rtl'] .fa-arrow-left::before {
	content: "\f061";
}

html[dir='rtl'] .fa-sign-out-alt {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
